$spacer: 1rem;

html {
}

body {
  background-color: #304FFE;
  margin: 0;

  @media screen and (max-width: 480px) {
    font-size: 15px;
    line-height: 20px;
  }
}

input {
  font-size: 20px;
  font-weight: normal;
  bottom-border: #D9D9D9;
}
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.14rem;
  margin: 0 0 $spacer 0;
}
h1{
  @media screen and (max-width: 480px) {
    font-size: 24px;
    line-height: 30px;
  }
}
h2{
  @media screen and (max-width: 480px) {
    font-size: 22px;
    line-height: 26px;
  }
}
h3{
  @media screen and (max-width: 480px) {
    font-size: 20px;
    line-height: 24px;
  }
}
h4{
  margin: 0;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.42rem;
  margin: 0 0 $spacer 0;
}

.errors{
  height: 5px;
}

.small{
  font-family: 'Source sans pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.8;
}

.zopa-hide-on-small{
  @media screen and (max-width: 480px){
    display: none;
  }
}

.zopa-hide-on-med-and-up{
  @media screen and (min-width: 480px){
    display: none;
  }
}
